body {
  background-color: #fafafa;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: blue;
  color: white;
  text-align: center;
}

/* For signup */

.signup-container {
  width: 350px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: darkblue;
}

/*button*/
.action-links {
  text-align: center;
  margin-top: 30px;
}

.signup-btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #0038ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.signup-btn:hover {
  background-color: #0027cc;
}

/* message style*/

.messages {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.messages li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.messages li.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.messages li.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.messages li.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}
